stages:
  - prepare
  - validate
  - test
  - deploy

prepare_submodules:
  stage: prepare
  script:
    - git submodule sync
    - git submodule set-url frontend "https://gitlab-ci-token:${CI_SUBMODULE_TOKEN}@git.fhict.nl/I555567/semester-3-individual-project-frontend.git"
    - git submodule set-url backend  "https://gitlab-ci-token:${CI_SUBMODULE_TOKEN}@git.fhict.nl/I555567/semester-3-individual-project-backend.git"
    - git submodule update --init --recursive
    - git submodule update --remote backend
  only:
    - main

validate_compose:
  stage: validate
  needs:
    - prepare_submodules
  script:
    - docker compose config
  only:
    - main

test_infra:
  stage: test
  needs:
    - validate_compose
  script:
    - if not exist docker-compose.yml exit 1
  only:
    - main

deploy_stack:
  stage: deploy
  needs:
    - test_infra
  script:
    - docker compose pull
    - docker compose up -d --remove-orphans
  only:
    - main
