stages:
  - build
  - test
  - quality
  - deploy

variables:
  DB_PASSWORD: $DB_PASSWORD  # Already set in your deployment repo
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

build-backend:
  stage: build
  image: docker:20.10.24
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker build -t zivkovicluka/backend:latest ./backend/football-website
    - docker push zivkovicluka/backend:latest
  only:
    - main

build-frontend:
  stage: build
  image: docker:20.10.24
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker build -t zivkovicluka/frontend:latest ./frontend
    - docker push zivkovicluka/frontend:latest
  only:
    - main

sonarqube-check:
  stage: quality
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - sonar-scanner -Dsonar.projectKey=football-website
                    -Dsonar.host.url=http://localhost:9000
                    -Dsonar.login=$SONAR_TOKEN
  only:
    - main

deploy:
  stage: deploy
  image: docker/compose:2.20.2
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker-compose -f docker-compose.yml up -d --build
  only:
    - main
