version: "3.9"
services:
  backend:
    build: ./backend
    container_name: school-backend
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: school-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:8080
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
